@use "../abstracts/variables";
@use "../abstracts/type-styles";
@use "../abstracts/mixins";

.intro {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--s-xl);
    justify-content: center;
}

.intro__info {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    text-align: left;
    justify-content: flex-start;
    margin-bottom: var(--s-l);

    @include mixins.respond-above(variables.$break-s) {
        text-align: center;
        justify-content: center;
    }
}

.intro__message {
    flex-basis: 100%;
    justify-self: flex-start;
    text-align: left;
    margin-bottom: var(--s-m);

    @include mixins.respond-above(variables.$break-l) {
        justify-self: center;
        text-align: center;
    }
}

.intro__location {
}

.intro__date {
}

.intro__description {
    margin-top: var(--s-m);
    flex-basis: 100%;
    @include mixins.respond-above(variables.$break-l) {
        flex-basis: 50%;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: var(--s-xxl);
}

.gallery__image {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    @include mixins.respond-above(variables.$break-m) {
        flex-basis: calc(50% - var(--s-l));
        width: calc(50% - var(--s-l));
        margin-right: var(--s-l);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: var(--s-l);
    }
}
