@use "../abstracts/variables";
@use "../abstracts/type-styles";
@use "../abstracts/mixins";

.intro {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--s-xl);
    flex-basis: 100%;

    @include mixins.respond-above(variables.$break-l) {
        flex-basis: calc(50% - var(--s-l));
        margin-right: var(--s-l);
    }
}

.intro__message {
}

.intro__info {
    margin-top: var(--s-m);
}

.intro__contact {
    @extend %body;
    margin-top: var(--s-l);
    flex-basis: 100%;
}

.page__nav {
    flex-basis: 100%;

    @include mixins.respond-above(variables.$break-l) {
        flex-basis: calc(50% - var(--s-l));
        margin-right: var(--s-l);
    }
}

.page__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.page__link {
    @extend %page-nav;
    margin: 0;
    margin-bottom: var(--s-l);
    flex-basis: calc(50% - var(--s-l));
    margin-right: var(--s-l);

    @include mixins.respond-above(variables.$break-l) {
        flex-basis: 100%;
        margin-right: 0;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-basis: 100%;
    margin-top: var(--s-xxl);
}

.gallery__image {
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;

    @include mixins.respond-above(variables.$break-l) {
        flex-basis: calc(50% - var(--s-l));
        margin-right: var(--s-l);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-bottom: var(--s-l);
    }
}

.gallery__video {
    margin: 0;
    padding: 0;
    margin-top: var(--s-l);
    width: 100%;
    margin-bottom: var(--s-xxl);

    iframe {
        width: 100%;
    }
}

.gallery__caption {
    @extend %nav;
    margin-top: var(--s-m);
}
