<header class="nav">
    <ul class="nav__items">
        <li class="nav__item {% if title == "Home" %}active{% endif %}">
            <a href="/">Home</a>
        </li>
        <li class="nav__item {% if title == "Schedule" %}active{% endif %}">
            <a href="/schedule">Schedule</a>
        </li>
        <li class="nav__item {% if title == "Travel" %}active{% endif %}">
            <a href="/travel">Travel</a>
        </li>
        <li class="nav__item {% if title == "Stay" %}active{% endif %}">
            <a href="/stay">Stay</a>
        </li>
        <li class="nav__item {% if title == "Questions?" %}active{% endif %}">
            <a href="/faq">Questions?</a>
        </li>
    </ul>
</header>