<header class="nav">
    <ul class="nav__items">
        <li class="nav__item">
            <a href="/">Home</a>
        </li>
        <li class="nav__item">
            <a href="/rsvp">RSVP</a>
        </li>
        <li class="nav__item">
            <a href="/stay">Stay</a>
        </li>
        <li class="nav__item">
            <a href="/travel">Travel</a>
        </li>
        <li class="nav__item">
            <a href="/schedule">Schedule</a>
        </li>
        <li class="nav__item">
            <a href="/faq">Questions?</a>
        </li>
    </ul>
</header>