@use "../abstracts/variables";
@use "../abstracts/type-styles";
@use "../abstracts/mixins";

.form__container {
}

.form__title {
    @extend %form-title;
    margin-top: 0;
    margin-bottom: var(--s-m);
}

.form__description {
    margin-bottom: var(--s-xl);

    strong {
        font-family: var(--f-text-bold);
    }
}

.form {
    margin-top: var(--s-xl);
}

.form-success {
    display: none;
}

.form__item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--s-xl);
    @extend %form-title;

    label {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        // height: var(--s-xxl);
        flex-basis: 100%;
        margin-bottom: var(--s-m);

        @include mixins.respond-above(variables.$break-m) {
            margin-bottom: 0;
        }

        span {
            @extend %body;
            flex-basis: 100%;
        }
    }

    input {
        height: var(--s-xxl);
        flex-basis: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: var(--s-m);
        background-color: transparent;
        border: 1px solid var(--c-graphic);
        border-radius: 0;
        color: var(--c-graphic);

        &[type="text"] {
        }

        &[type="email"] {
        }

        &[type="submit"] {
            transition: all 0.2s ease;
            cursor: pointer;
            background-color: var(--c-graphic);
            color: var(--c-background);
            text-transform: uppercase;
            height: auto;

            &:hover {
                background-color: var(--c-text);
                color: var(--c-background);
            }
        }

        &[type="radio"] {
            appearance: none;
            display: inline-block;
            width: var(--s-xl);
            height: var(--s-xl);
            flex-basis: var(--s-xl);
            padding: var(--s-s);
            background-clip: content-box;
            border: 2px solid var(--c-text);
            border-radius: 50%;
            margin-right: 1rem;
            flex-shrink: 0;
            cursor: pointer;

            &:checked {
                background-color: var(--c-graphic);
            }

            @include mixins.respond-above(variables.$break-s) {
            }
        }
    }

    select {
        height: var(--s-xxl);
        flex-basis: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: var(--s-m);
        background-color: transparent;
        border: 1px solid var(--c-graphic);
        border-radius: 0;
        color: var(--c-graphic);

        &::after {
            content: "asdas";
        }

        option {
            background-color: var(--c-graphic);
            color: var(--c-background);
        }
    }

    textarea {
        flex-basis: 100%;
        width: 100%;
        height: var(--s-xxxl);
        box-sizing: border-box;
        padding: var(--s-m);
        background-color: transparent;
        border: 1px solid var(--c-graphic);
        border-radius: 0;
        color: var(--c-graphic);
        @extend %body;
    }

    @include mixins.respond-above(variables.$break-m) {
        label {
            flex-basis: 40%;
            width: 40%;
        }

        input,
        select,
        textarea {
            flex-basis: 60%;
            width: 60%;
        }

        input[type="submit"] {
            margin-left: 40%;
            transition: all 0.2s ease;
            cursor: pointer;
        }

        input[type="radio"] {
            // width: 100%;
            // flex-basis: 100%;
        }
    }
}

.form__radio {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--s-l);

    @include mixins.respond-above(variables.$break-m) {
        margin-left: 40%;
        flex-basis: 60%;
        width: 60%;
    }

    label {
        // flex-basis: 40%;
        // width: 40%;
        flex-grow: 1;
        margin-bottom: 0;
    }
}
