@use "../abstracts/variables";
@use "../abstracts/type-styles";
@use "../abstracts/mixins";

.page__content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0 var(--s-xl);
}

.page__section {
}

.page__row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: var(--s-xxl);
    margin-bottom: var(--s-xxl);
    border-bottom: 1px solid var(--c-graphic);
}

.page__column {
    flex-basis: 100%;

    @include mixins.respond-above(variables.$break-l) {
        flex-basis: calc(50% - var(--s-m));
        margin-right: var(--s-m);
    }
}

.page__title {
    @extend %title;
    color: var(--c-graphic);
    margin: 0 0 var(--s-m) 0;
}

.page__subtitle {
    @extend %subtitle;
    color: var(--c-graphic);
    margin: 0;
    margin-bottom: var(--s-l);
}

.page__description-section {
    margin-bottom: var(--s-xl);
}

.page__description-title {
    @extend %subtitle;
    color: var(--c-text);
    margin: 0;
}

.page__description-subtitle {
    @extend %body-title;
    color: var(--c-text);
    margin: 0;
    margin-bottom: 2rem;

    a {
        color: var(--c-text);
    }
}

.page__description {
    @extend %body;

    & + .page__description {
        margin-top: var(--s-m);
    }
}

.page__buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: var(--s-m);
}

.page__button {
    padding: var(--s-m);
    margin-right: var(--s-m);
    border: 1px solid var(--c-graphic);
    color: var(--c-graphic);
    background-color: var(--c-background);
    text-decoration: none;
    transition: all 0.2s ease;

    &:hover {
        color: var(--c-background);
        background-color: var(--c-graphic);
    }
}

.page__image {
    width: 100%;
}
