@use "../abstracts/variables";
@use "../abstracts/mixins";

%nav {
    font-family: var(--f-text);
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    font-size: var(--t-s);
    line-height: 1.3;
    margin: 0;
}

%header {
    font-family: var(--f-display);
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    line-height: 1;
}

%page-nav {
    font-family: var(--f-display);
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    font-size: var(--t-xxl);
}

%title {
    font-family: var(--f-text);
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    font-size: var(--t-xl);
    line-height: 1.2;
}

%subtitle {
    font-family: var(--f-text);
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    font-size: var(--t-l);
    line-height: 1.2;
}

%body-title {
    font-family: var(--f-text);
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    font-size: var(--t-m);
    line-height: 1.3;
    // margin: 0;
}

%body {
    font-family: var(--f-text);
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    font-size: var(--t-m);
    line-height: 1.3;
    margin: 0;

    a {
        color: var(--c-graphic);

        &:hover {
            color: var(--c-text);
        }

        &:active {
            color: var(--c-graphic);
        }
    }
}

%body-bold {
    font-family: var(--f-text-bold);
    font-display: swap;
    font-style: normal;
    font-weight: normal;
}
