@use "../abstracts/variables";
@use "../abstracts/mixins";

%header {
    font-family: var(--f-display);
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    font-size: 20vw;
    text-align: center;
    line-height: 1;

    @include mixins.respond-above(variables.$break-s) {
        font-size: 15vw;
    }

    @include mixins.respond-above(variables.$break-m) {
        font-size: 15vw;
    }
}

%body {
    font-family: var(--f-text);
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    font-size: var(--t-m);
    line-height: 1.5;
    margin: 0;
}

%body-bold {
    font-family: var(--f-text-bold);
}

%body-large {
    font-family: var(--f-text);
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    font-size: var(--t-xl);
    line-height: 1.1;
    margin: 0;
}

%form-title {
    font-family: var(--f-text);
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    font-size: var(--t-l);
    line-height: 1;
}
